body {
    padding: 0px;
    margin: 0px;
    background-image: url("../images/alexandru-acea-582050-unsplash.jpg");
    background-size: cover;
    font-size: 15px;
    line-height: 1.5em;
    letter-spacing: .08em;
    font-family: 'Montserrat', sans-serif;
}

/* .spacer {
    height: 300px;
    background-color: transparent;
} */

.container-fluid {
    background: rgba(255, 255, 255, 0.92) !important;
    padding-left: 0px;
    padding-right: 0px;
}

#profilePic {
    height: 400px;
    width: 400px;
    border:3px solid #d9d9d9;
    border-radius: 1% !important;
    box-shadow:0px 4px 16px 2px #bfbfbf;
}

.profileFlex {
    display:flex;
    justify-content:center;
    align-content:center;
}

/* h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
} */

nav {
    background-color: white !important;
    width: 100% !important;
    border-bottom: 2px solid #993399;
    box-shadow:2px 8px 16px 8px #666666;
}

.navbar {
    padding-top: 40px !important;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}

.margin10 {
    margin:10px;
}

#navButton {
    color:#333333 !important;
}

.container {
    max-width: 960px !important;
}

a {
    color: #862d86 !important;
    text-decoration:none !important;
}

a:hover {
    color: #777777 !important;
    text-decoration: none !important;
}

.nav .container ul {
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    border-right: 1px solid #f2f2f2;
}

.nav .container {
    padding-top: 40px;
    padding-bottom: 0px;
}

.nav .container ul li {
    border-left: 1px solid #f2f2f2;
    /* padding-left: 2px;
    padding-right: 2px; */
}

.nav .container ul li a:hover {
    color:#ffffff !important;
    background-color:#862d86;
}

nav h4 {
    position: absolute;
    margin-top: 2px;
    margin-left: 16px;
    background-color: #862d86;
    padding: 15px 12px;
}

#navbarName {
    background-color: green;
    padding: 20px;
}

.navList {
    padding-bottom: 10px;
}

.marginTop10 {
    margin-top: 10px !important;
}

.marginTop30 {
    margin-top: 40px !important;
}

.marginRight10 {
    margin-right:10px;
}

/* #profilePic {
    padding:20px;
} */

.whiteBanner {
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
}

.whiteBackground {
    height: auto;
    width: 100%;
    background-color: white;
}

.container:nth-of-type(2) {
    margin-top: 10px;
}

.padding20 {
    padding: 20px;
}

.paddingTop20 {
    padding-top: 20px;
}

.paddingTop100 {
    padding-top:100px;
}

.paddingBottom20{
    padding-bottom:20px;
}

.paddingBottom100 {
    padding-bottom:100px;
}

.borderBottom {
    border-bottom: 1px solid #cccccc;
}

.greenText {
    color: #862d86;
    font-size: 18px;
}

.whiteText {
    color: white;
}

span {
    padding: 10px !important;
}

.footer {
    background-color: #585555;
    height: 120px;
    width: 100%;
    border-top: 2px solid #862d86;
    padding-top: 20px;
}

.footer p {
    color: #fff;
    display: flex;
    justify-content: center;
}

.footer span {
    color: #fff;
    display: flex;
    justify-content: center;
}

footer a {
    color: white !important;
}

footer a:hover {
    color: #cc66cc !important
}

/* .card-body{
    margin-left:20px !important;
    margin-right:20px !important;
} */

.thumbnail {
    height: 500px;
    width: 600px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    box-shadow:0px 8px 16px 4px #e6e6e6;
    transition:.25s ease-in-out;
}

.thumbnail:hover {
    box-shadow:0px 8px 20px 6px #bfbfbf;
}

.center {
    display: flex;
    justify-content: center;
}

.full-screen {
    width: 100%;
    height: 100vh;
}

.lbl {
    position: absolute;
    padding: 14px 10px;
    background-color: #862d86;
    color: white;
    margin-top: 450px;
    margin-left:21px;
    width: 558px;
    text-align: center;
}

.small-thumbnail {
    height: 130px;
    width: 140px;
    display: flex;
    justify-content: center;
}

.languageLogos {
    display:flex;
    justify-content: center;
    align-content: space-around;
    
}

.langLogoDiv {
    display:flex !important;
    justify-items: center !important;
    align-content:center !important;
    
}

.languageLogos img {
    height: 80px;
    width: 80px;
    padding:0px;
    margin:0px;
    border-radius:6px;
    /* box-shadow: -1px 6px 2px #d9d9d9; */
    padding:10px;
}

.languageLogos p {
    box-shadow: -1px 6px 1px #f2f2f2;
    border-radius:5px;
    letter-spacing:.08em;
}

#jqueryLogo {
    height: 80px;
    width: 160px;
    
}

.marginTop100 {
    margin-top:100px;
}

.marginTop60 {
    margin-top:60px;
}

.marginBottom100 {
    margin-bottom:100px;
}

.fontSize18 {
    font-size:18px;
}

.marginRight8 {
    margin-right:8px;
}